<% layout('layouts/boilerplate')%>
<link rel="stylesheet" href="/stylesheets/font.css" />
<div class="row mt-5">
  
  <h1 class="text-center">Edit Houses</h1>
  <div class="col-6 offset-md-3">
    <form action="/houses/<%=house._id%>?_method=PUT" method="POST" novalidate class="validated-form" enctype="multipart/form-data" >
      <div class="mb-3">
        <label class="form-label" for="title">
          <h3>
          Title
          </h3>
        </label>
        <input class="form-control" type="text" id="title" name="house[title]" value="<%=house.title %>" required/>
      </div>

      <div class="mb-3"> <label class="form-label" for="location">
        <h3>
        Location
      </h3>
      </label>
        <input class="form-control" type="text" id="location" name="house[location]" value="<%=house.location %>" required/>
      </div>

      <div class="mb-3"> <label class="form-label" for="price">
      <h3>
        House Prices
      </h3>
      </label>
        <div class="input-group">
          <span class="input-group-text" id="price-label">$</span>
          <input type="text" class="form-control" id="price" placeholder="0.00" aria-label="price" aria-describedby="price-label" name="house[price]"value="<%=house.price %>"required/>
        </div>
      </div>  
       <div class="mb-3">
        <label class="form-label" for="description">
          <h3>
          Description
        </h3>
        </label>
        <textarea
          class="form-control"
          type="text"
          id="description"
          name="house[description]"
          required
        ><%= house.description%></textarea>

    <div class="mb-3 mt-3">
      <label for="image" class="form-label" >
      <h3>
        Upload more
          pictures...
        </h3>
      </label>
      <input class="form-control" type="file" id="image" name="image" multiple>
  </div>

        <div class="mb-3">
        <% house.images.forEach(function(img, i) { %>
            <img src="<%=img.thumbnail %>" class="img-thumbnail" alt="" />
            <div class="form-check-inline">
              <input
                type="checkbox"
                id="image-<%=i%>"
                name="deleteImages[]"
                value="<%=img.filename%>"
              />
            </div>
            <label for="image-<%=i%>">Delete?</label>
            <% })%>
          </div>

          <div class="mb-3">
            <button class="btn btn-success">
              Update House Info
            </button>
          </div>

        </form>
        <a href="/houses/<%= house._id%>">
        <p>
          Back To Houses Market
        </p>
        </a>
      </div>

  </div>